<div class="row">
	<div class="col-md-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a style="cursor: pointer;" data-toggle="collapse" data-target="#collapse1">
							<h3 style="margin-top: 5px; margin-bottom: 5px"
								ng-bind="dealConfig.issuer | username2company">
							</h3>
						</a>
					</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse">
					<div class="panel-body">
						<form>
							<div class="form-group">
								<select style="display: inline; width: 50%"
										class="form-control"
										ng-disabled="role != 'bank' || pendingBookStatusUpdate != null || dealConfig.bookStatus == 'settled'" 
									    ng-model="dealConfig.bookStatus" 
									    ng-change="updateDealStatus()">
									<option value="draft">Draft</option>
									<option value="open">Open</option>
									<option value="closed">Closed</option>
									<option value="allocated">Allocated</option>
									<option value="confirmed">Confirmed</option>
									<option ng-show="dealConfig.bookStatus == 'settled'" 
											value="settled">Settled</option>
								</select>
								<img ng-show="pendingBookStatusUpdate != null" src="imgs/spinner-26x26.gif">
							</div>
							<div ng-show="role == 'clearing_house'">
								Account Number: {{ dealConfig.issuer |  username2acctno }}
							</div>
							<div ng-show="role == 'clearing_house'">
								Account Balance: {{
									dealConfig.bookStatus == 'settled' ? 
					  				0 : 
					   				(sumAlloc * 1000000 | counter: transferPerc:'down' | number: 0)
								}}
							</div>
							<div ng-show="role == 'clearing_house'">
								<button ng-disabled="dealConfig.bookStatus == 'settled'"
										class="btn btn-primary" 
										ng-click="doTransfer()">
									Settle
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table">
			<thead>
				<tr>
					<th>Investor</th>
					<th ng-show="role == 'regulator' || role == 'clearing_house'">Account No.</th>
					<th ng-show="role == 'clearing_house'">Account Balance</th>
					<th ng-hide="role == 'clearing_house'">Amount (MM shares)</th>
					<th>Allocation (MM shares)</th>
					<th ng-hide="role == 'clearing_house'">Confirmed</th>
				</tr>
			</thead>
			<tr ng-repeat="(investor, order) in orderbook">
				<td>{{ order.investor | username2company }}</td>
				<td ng-show="role == 'regulator' || role == 'clearing_house'">
					{{ order.investor | username2acctno }}
				</td>
				<td ng-show="role == 'clearing_house'">
					{{ dealConfig.bookStatus == 'settled' ? 
					   (order.alloc * 1000000 | number: 0) : 
					   (order.alloc * 1000000 | counter: transferPerc:'up' | number: 0) }}
				</td>
				<td ng-hide="role == 'clearing_house'">{{ order.ioi }}</td>
				<td>
					<input style="display: inline; width: 60%"
						   class="form-control" 
						   type="number" 
						   ng-disabled="role != 'bank' || dealConfig.bookStatus == 'settled'" 
						   ng-model="order.alloc" 
						   ng-blur="allocateOrder(order)">
					<img ng-show="deployingAllocs[order.investor] != null" src="imgs/spinner-26x26.gif">
				</td>
				<td ng-hide="role == 'clearing_house'">
					<input style="width: 20px; height: 20px;"
						   class="form-control" 
						   type="checkbox"
						   ng-model="order.confirmed"
						   disabled>
				</td>
			</tr>
			<tfoot>
				<tr style="font-weight: bold; font-style: italic;">
					<td>Totals</td>
					<td ng-show="role == 'regulator' || role == 'clearing_house'">&nbsp;</td>
					<td ng-hide="role == 'clearing_house'" ng-bind="sumIoi"></td>
					<th ng-show="role == 'clearing_house'">&nbsp;</th>
					<td ng-bind="sumAlloc"></td>
					<td ng-hide="role == 'clearing_house'">&nbsp;</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>