<div>
	<button ng-click="getDealConfig()">Get Deal Config</button>
	<button ng-click="getOrderbook()">Get Order Book</button>
	<select ng-disabled="role != 'bank'" ng-model="dealConfig.bookStatus" ng-change="updateDealStatus()">
		<option value="draft">Draft</option>
		<option value="open">Open</option>
		<option value="closed">Closed</option>
		<option value="allocated">Allocated</option>
		<option value="settled">Settled</option>
	</select>
</div>
<div>
	<table border="1">
		<tr>
			<td>Investor</td>
			<td>Amount</td>
			<td>Allocation</td>
			<td>Confirmed</td>
		</tr>
		<tr ng-repeat="(investor, order) in orderbook">
			<td>{{ order.investor }}</td>
			<td>{{ order.ioi }}</td>
			<td><input type="number" ng-disabled="role != 'bank'" ng-model="order.alloc" ng-blur="allocateOrder(order)"></td>
			<td>
				<input type="checkbox"
					   ng-model="order.confirmed"
					   disabled>
			</td>
		</tr>
	</table>
</div>
<div>
	{{ dealConfig }}
</div>