<div>
	<select multiple ng-model="banks">
		<option value="bofa">Bank of America</option>
		<option value="jpm">JP Morgan</option>
		<option value="gs">Goldman Sachs</option>
	</select>
	<br>
	<button ng-hide="role != 'issuer'" ng-click="createDeal()">Create Deal</button>
</div>
<div>
	<table class="table">
		<thead class="thead">
			<tr>
				<td ng-show="role != 'investor'">Orderbook</td>
				<td>Book Status</td>
				<td>Issuer</td>
				<td ng-show="role == 'investor'">Order</td>
				<td ng-show="role == 'investor'">Allocation</td>
				<td ng-show="role == 'investor'">Confirmed</td>
			</tr>
		</thead>
		<tr ng-repeat="deal in deals">
			<td ng-show="role != 'investor'">
				<a ng-href="#/book/{{deal.deploymentId}}">Book</a>
			</td>
			<td>
				{{ deal.bookStatus }}
			</td>
			<td>
				{{ userMap[deal.issuer].name }}
			</td>
			<td ng-show="role == 'investor'">
				<input type="number" ng-model="deal.myOrder.ioi" ng-blur="updateOrder(deal)">
			</td>
			<td ng-show="role == 'investor'">
				{{ deal.myOrder.alloc }}
			</td>
			<td ng-show="role == 'investor'">
				<input type="checkbox"
					   ng-model="deal.myOrder.confirmed" 
					   ng-change="confirmOrder(deal)" 
					   ng-disabled="deal.myOrder.confirmed">
			</td>
		</tr>
	</table>
</div>
<div>
	<button ng-click="declareQib()" ng-disabled="myDocs.indexOf('qib') > -1">Declare QIB</button>
</div>