<div>Deployment ID: {{ registryDeploymentId }}</div>
<div>
	<button ng-click="deploy()">Deploy</button>
</div>
<div>
	ID: <input type="text" ng-model="dealDeploymentId">
	Issuer: <input type="text" ng-model="issuer">
	<button ng-click="registerDeal()">Register Deal</button>
	<button ng-click="createDeal()">Create Deal</button>
</div>
<div>
	<button ng-click="getDeals()">Get Deals</button>
	<table border="1">
		<tr>
			<td>Deal ID</td>
			<td>Issuer</td>
		</tr>
		<tr ng-repeat="deal in deals">
			<td><a ng-href="#/book/{{deal.deploymentId}}">Book</td>
			<td>{{ deal.issuer }}</td>
		</tr>
	</table>
</div>
